@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

@layer base {
    :root {
        --color-background: #f9fafb;
        --color-primary: #059669;
        --color-primary-light: color-mix(in srgb, var(--color-primary), transparent 70%);
        --color-primary-dark: color-mix(in srgb, var(--color-primary), black 20%);

        --color-borderContainer: #f3f4f6;

        --color-textPrimary: #1f2937;
        --color-textSecondary: #4b5563;
    }
}

@layer components {
    .container {
        @apply w-full flex p-4 border border-borderContainer shadow-sm;
    }
}
