@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "react-phone-number-input/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

.PhoneInputInput:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

@layer base {
    :root {
        --color-background: #f9fafb;
        --color-primary: #059669;
        --color-primary-light: color-mix(in srgb, var(--color-primary), transparent 70%);
        --color-primary-dark: color-mix(in srgb, var(--color-primary), black 20%);

        --color-borderContainer: #f3f4f6;

        --color-textPrimary: #1f2937;
        --color-textSecondary: #4b5563;
    }
}

@layer components {
    .container {
        @apply w-full flex p-4 border border-borderContainer shadow-sm;
    }

    .button-base {
        @apply inline-flex items-center justify-center font-medium rounded-md transition-colors;
    }
    .button-variant-primary {
        @apply bg-primary text-white hover:bg-primaryDark;
    }
    .button-variant-secondary {
        @apply bg-primary text-white hover:bg-primaryDark;
    }
    .button-variant-outline {
        @apply border border-gray-300 text-textPrimary hover:bg-gray-50;
    }
    .button-size-sm {
        @apply text-xs py-2 px-3;
    }
    .button-size-md {
        @apply text-sm py-2.5 px-4;
    }
    .button-size-lg {
        @apply text-base py-3.5 px-6;
    }
}
